
/* 暗色模式样式 */
:global(.defaultDark) {
	.coreStatusIcon {
		background-color: transparent!important;
	}
	.coreStatusCard {
		background-color: #171717;
	}
	
	.coreStatusCardSuccess {
		position: relative;
		border: none !important;
		background-color: transparent;
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border-radius: 0.75rem;
			padding: 1px;
			background: var(--menu-active-gradient);
			-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
			mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
			mask-composite: exclude;
			pointer-events: none;
			z-index: 0;
		}
	}
	.coreStatusIconSuccess {
		position: relative;
		background-color: transparent !important;
		:global(.n-icon) {
			svg,
			svg path {
				fill: url(#menu-active-icon-gradient) !important;
			}
		}
	}
	
	.coreStatusLabelSuccess {
		background: var(--menu-active-gradient) !important;
		-webkit-background-clip: text !important;
		background-clip: text !important;
		-webkit-text-fill-color: transparent !important;
		color: transparent !important;
	}
	
	.coreStatusCardError {
		position: relative;
		border: none !important;
		background-color: transparent !important;
		
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border-radius: 0.75rem;
			padding: 1px;
			background: var(--n-error-primary-color);
			-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
			mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
			mask-composite: exclude;
			pointer-events: none;
			z-index: 0;
		}
	}
	.coreStatusIconError {
		background-color: transparent !important;
		:global(.n-icon) {
			svg,
			svg path {
				fill: var(--n-error-primary-color) !important;
			}
		}
	}
	
	.coreStatusTextError {
		color: #fff !important;
	}

	.coreStatusLabelError {
		color: var(--n-error-primary-color) !important;
	}
	
	.headerIcon {
		svg,
		svg path {
			fill: url(#menu-active-icon-gradient) !important;
		}
	}
}

